POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

GRAFANA_USER=
GRAFANA_PASSWORD=
GRAFANA_ROOT_URL=

REDIS_PASSWORD=

AIRFLOW_DB_PASSWORD=
AIRFLOW_ADMIN_USER=
AIRFLOW_ADMIN_PASSWORD=
AIRFLOW_DB_CONN=
AIRFLOW_WORKER_REPLICAS=

SPARK_WORKER_CORES=
SPARK_WORKER_MEMORY=
SPARK_WORKER_REPLICAS=

SCRAPER_LOG_LEVEL=
SCRAPER_REPLICAS=
SCRAPER_SCHEDULE_INTERVAL=

FORECAST_HORIZON=
FORECAST_PERIOD=
FORECAST_CONFIDENCE_INTERVAL=

DATA_SOURCE_URLS=
S3_BUCKET_RAW=
S3_BUCKET_PROCESSED=
S3_BUCKET_ANALYTICS=

UID=1001
GID=1001

TZ=UTC
LOG_LEVEL=INFO


